h1 welcome to packrat
h2 do you go places? hate packing? always forget your contact lens solution? packrat is here to help.

button create a trip
button
	= link_to 'create template', new_template_path
button see all templates